<div class="container-fluid">
    <div class="row">

        <div infinite-scroll='product.nextPage()' infinite-scroll-disabled='product.busy' infinite-scroll-distance='0'>

            <div ng-repeat="product in product.items">
                <div class="col-md-2" style="height:200px;">
                    <img ng-src="https://styletribute.com/{{product.smallImage}}" class="smallimage">
                    <p>{{product.designer}}</p>
                    <p>{{product.name}}</p>
                    <p>{{product.stylesort}}</p>
                </div>

            </div>

            <div ng-show='product.busy && product.after <= product.totalPage' class="col-md-2 col-md-offset-5">
                Loading data...
            </div>
            <div ng-show='product.after > product.totalPage' class="col-md-2 col-md-offset-5">End of Products</div>
        </div>


    </div>
</div>